.inventory{
    position: absolute;
    display: flex;
    height: 30%;
    width: 30%;
    background-color: rgb(255, 255, 255);
    top:65%;
    left:1%;
}

.inventoryTitle{
    background-color: rgb(255, 255, 255);
    height: 13%;
    width: 30%;
    display: flex;
    position: absolute;
    left: 37%;
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

.slot1Name{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: blueviolet;
   
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    top:20%;
    left:1%;
}

.slot2Name{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: blueviolet;
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:31%;
    left:1%;
}

.slot3Name{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: blueviolet;
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:42%;
    left:1%;
}

.slot4Name{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: blueviolet;
   
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:53%;
    left:1%;
}

.slot5Name{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: blueviolet;
   
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:64%;
    left:1%;
}

.slot6Name{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: blueviolet;
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:20%;
    left:69%;
}

.slot7Name{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: blueviolet;
   
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:31%;
    left:69%;
}

.slot8Name{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: blueviolet;
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:42%;
    left:69%;
}

.slot9Name{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: blueviolet;
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:53%;
    left:69%;
}

.slot10Name{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: blueviolet;
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:64%;
    left:69%;
}

.slot1Image{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:20%;
    left:35%;
}

.slot2Image{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:31%;
    left:35%;
}

.slot3Image{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:42%;
    left:35%;
}

.slot4Image{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:53%;
    left:35%;
}

.slot5Image{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:64%;
    left:35%;
}

.slot6Image{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:20%;
    left:60%;
}

.slot7Image{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:31%;
    left:60%;
}

.slot8Image{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:42%;
    left:60%;
}

.slot9Image{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:53%;
    left:60%;
}

.slot10Image{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:64%;
    left:60%;
}



