.store{
    position: absolute;
    display: flex;
    height: 40%;
    width: 50%;
    background-color: rgb(255, 255, 255);
    left:25%;
    top:15%;
}

.storeTitle{
    display: flex;
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 20%;
    width:30%;
    left:35%;

    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}



.slot1StoreName{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: rgb(35, 191, 118);
   
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    top:20%;
    left:1%;
}

.slot2StoreName{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: rgb(35, 191, 118);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:31%;
    left:1%;
}

.slot3StoreName{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: rgb(35, 191, 118);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:42%;
    left:1%;
}

.slot4StoreName{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: rgb(35, 191, 118);
   
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:53%;
    left:1%;
}

.slot5StoreName{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: rgb(35, 191, 118);
   
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:64%;
    left:1%;
}

.slot6StoreName{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: rgb(35, 191, 118);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:20%;
    left:69%;
}

.slot7StoreName{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: rgb(35, 191, 118);
   
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:31%;
    left:69%;
}

.slot8StoreName{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: rgb(35, 191, 118);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:42%;
    left:69%;
}

.slot9StoreName{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: rgb(35, 191, 118);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:53%;
    left:69%;
}

.slot10StoreName{
    display: flex;
    position: absolute;
    height: 10%;
    width: 30%;
    background-color: rgb(35, 191, 118);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:64%;
    left:69%;
}



.slot1StoreImage{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:20%;
    left:35%;
}

.slot2StoreImage{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:31%;
    left:35%;
}

.slot3StoreImage{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:42%;
    left:35%;
}

.slot4StoreImage{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:53%;
    left:35%;
}

.slot5StoreImage{
    display: flex;
    position: absolute;
    height: 10%;
    width: 5%;
    background-color: rgb(28, 34, 200);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    
    top:64%;
    left:35%;
}



.slot1BuyButton{
    display: flex;
    position: absolute;
    height: 10%;
    width: 7%;
    background-color: rgb(9, 167, 28);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

    
    top:20%;
    left:44%;
}

.slot2BuyButton{
    display: flex;
    position: absolute;
    height: 10%;
    width: 7%;
    background-color: rgb(9, 167, 28);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

    
    top:31%;
    left:44%;
}

.slot3BuyButton{
    display: flex;
    position: absolute;
    height: 10%;
    width: 7%;
    background-color: rgb(9, 167, 28);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

    
    top:42%;
    left:44%;
}

.slot4BuyButton{
    display: flex;
    position: absolute;
    height: 10%;
    width: 7%;
    background-color: rgb(9, 167, 28);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

    
    top:53%;
    left:44%;
}

.slot5BuyButton{
    display: flex;
    position: absolute;
    height: 10%;
    width: 7%;
    background-color: rgb(9, 167, 28);
    
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;

    
    top:64%;
    left:44%;
}

.storeConfirm{
    display: flex;
    position: absolute;
    height: 60%;
    width: 45%;
    background-color: aqua;
    left: 54.5%;
    top:17%;
}